/Build/*
/HeliResc/Library/*
/HeliResc/Temp/*
/HeliResc/obj/*
*.sln
*.suo
*.userprefs
*.csproj
*.pidb
*.unityproj
HeliResc/HeliResc-csharp.sln

HeliResc/HeliResc.sln

HeliResc/HeliResc.userprefs

HeliResc/Library/assetDatabase3

HeliResc/Library/CurrentLayout.dwlt

HeliResc/Library/expandedItems

HeliResc/Library/guidmapper

HeliResc/Library/metadata/b1/b11b434ebc129463385d165d17b67f90

HeliResc/Library/ScriptAssemblies/Assembly-CSharp.dll

HeliResc/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb

HeliResc/Library/metadata/3d/3d5309ca0fec0463189ecb028bb2e010
